#arch-page-container {
    min-height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
}

#arch-page-container img {
    width: 35%;
    object-fit: cover;
}

#main-div {
    gap: 8%;
    text-align: left;
}

#main-div h4 {
    color: var(--red);
    font-size: 1.3vw;
    font-weight: bold;
    display: inline-block;
}

#arch-page-container #title-container h2 {
    text-align: left;
    color: var(--purple);
    font-weight: bold;
}

#arch-page-container p {
    margin: 15% 5% 15% 5%;
    font-weight: bold;
    text-align: justify;
    text-align-last: center;
}