.homePage h4 {
    padding-top: 1%;
    padding-bottom: 1%;
    color: var(--red);
}

.homePage #testAdContainer button {
    background-color: var(--red);
}

#featuredContainer {
    padding-top: 5%;
}

#featuredImgContainer {
    width: 55%;
    gap: 2%;
}

#featuredImgContainer div {
    color: var(--brown);
}

#featuredImgContainer h4 {
    color: var(--purple);
    font-weight: bold;
}

#featuredImgContainer h4,
#featuredImgContainer p {
    font-size: 1vw;
}

#archetypes-grid img {
    height: 100%;
}

#featuredText {
    padding-right: 5%;
    width: 25%;
    color: var(--brown)
}

#featuredText h2 {
    color: var(--red)
}

#featuredImg {
    height: 40%;
    object-fit: contain;
}

#homePage h2,
h4 {
    color: var(--purple);
}

#archetypes-grid h5 {
    position: relative;
    color: var(--red);
    z-index: 1000;
    bottom: 8%;
    left: -32%;
    display: inline-block;
    font-weight: bold;
}

#bottomArch h5 {
    bottom: 6%;
}

.swiper-button-next {
    color: red;
}

@media screen and (max-width: 1366px) {
    /* my monitor screen size */
    #topBlogPage {
        width: 88%;
    }
    #bottomContainerText {
        position: absolute;
        right: -38%;
        bottom: 1%;
    }
    #descriptionsContainer {
        gap: 14%;
    }
    #bottomContainer {
        position: relative;
        left: -5%;
    }
    #bottomContainerImg {
        width: 150%;
    }
}

@media screen and (min-width: 1366px) {
    #topBlogPage {
        width: 79%;
    }
    #bottomContainerText1 {
        position: absolute;
        right: 55%;
        bottom: 1%;
    }
    #bottomContainerText2 {
        position: absolute;
        right: 6%;
        bottom: 1%;
    }
    #descriptionsContainer {
        gap: -15%;
    }
    #bottomContainer {
        position: relative;
    }
    #bottomContainerImg {
        /* width: 80%; */
        /* height: 70%; */
        object-fit: contain;
        object-position: center;
    }
    #bottomContainer p {
        color: white
    }
}

#paddingAd {
    padding-top: 3%;
    padding-bottom: 3%;
}