#featuredImg {
    height: 50%;
}

#topBlogPage {
    width: 64%;
}

#descriptionsContainer {
    gap: 10%;
}

#bottomContainer {
    position: relative;
    left: -5%;
}

#bottomContainerImg {
    width: 150%;
}

#bottomContainerText {
    position: absolute;
    right: -42%;
    bottom: 1%;
}