#featuredContainer {
    padding-top: 5%;
}

#featuredText {
    padding-right: 2%;
}

#featuredImg {
    height: 70%;
}

@media screen and (max-width: 1366px) {
    #topBlogPage {
        width: 88%;
    }
    #bottomContainerText {
        position: absolute;
        right: -38%;
        bottom: 1%;
    }
    #descriptionsContainer {
        gap: 14%;
    }
    #bottomContainer {
        position: relative;
        left: -5%;
    }
    #bottomContainerImg {
        width: 150%;
    }
}

@media screen and (min-width: 1366px) {
    #topBlogPage {
        width: 79%;
    }
    #bottomContainerText {
        position: absolute;
        right: -38%;
        bottom: 1%;
    }
    #descriptionsContainer {
        gap: 13%;
    }
    #bottomContainer {
        position: relative;
        left: -5%;
    }
    #bottomContainerImg {
        width: 150%;
    }
}