#left-home-img {
    width: 120%;
    height: 188%;
}

#homeContainer {
    height: 125%;
    margin: 0%;
}

#leftImg {
    position: relative;
    padding: 0%;
}

#rightImg {
    position: relative;
}

#testButton {
    position: absolute;
    left: 40%;
    top: 48%;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

#exploreButton {
    position: absolute;
    left: 60%;
    top: 57%;
    padding: 5px;
    font-weight: bold;
}


/* media queries for mac and windows screens */