:root {
    --yellow: #f6c240;
    --purple: #3f285c;
    --red: #8a181c;
    --brown: #453127;
}

* {
    font-family: "Acumin Variable Concept";
}

#left-home-img {
    width: 140%;
    height: 100vh;
}

#homeContainer {
    height: 125%;
    min-height: 100vh;
}

#leftImg {
    position: relative;
    padding: 0%;
    left: -21%;
    object-fit: cover;
}

#rightImg {
    position: relative;
    padding-top: 2%;
    object-fit: cover;
}

#testTxt {
    position: absolute;
    width: 100%;
    left: 34%;
    bottom: 11%;
    z-index: 1000;
    color: var(--purple);
    font-weight: bold;
    font-size: 150%;
}

#rightImgContainer {
    /* width: 55%; */
    height: 70vh;
}

#rightImg img {
    width: 112%;
}

#exploreButton {
    position: absolute;
    left: 37%;
    top: 37%;
    width: 39%;
    padding: 5px;
    font-weight: bold;
    background-color: var(--red);
    color: white;
    border: none;
}

#archStories {
    position: relative;
    color: var(--red);
    font-weight: bold;
    font-size: 150%;
    left: 5%;
}


/* media queries for mac and windows screens */

@media screen and (max-width:3024px) {
    /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_media_bg */
    /* the maximum width to apply the css styles below to is 3024 */
    /* screen size <= 3024 apply these rules */
    /* Mac screen */
    #testButton {
        position: absolute;
        left: 68%;
        top: 36%;
        width: 30%;
        z-index: 1000;
        padding: 5px;
        font-weight: bold;
        background-color: var(--purple);
        color: white;
        border: none;
    }
    #rightImg p {
        padding-top: 1%;
    }
}