/* nav {
    height: 100%;
    background-color: var(--yellow);
}

#right-nav {
    padding-right: 10%;
}

#center-nav {
    padding-left: 15%;
}

#left-nav {
    padding-left: 20%;
}

li {
    white-space: nowrap;
    font-size: large;
}

a {
    color: var(--brown);
}

#right-nav-div {
    padding-right: 1%;
} */