nav {
    height: 100%;
}

#right-nav {
    padding-right: 10%;
}

#center-nav {
    padding-left: 45%;
}

#left-nav {
    padding-left: 20%;
}

li {
    white-space: nowrap;
}

#right-nav-div {
    padding-right: 1%;
}