* {
    box-sizing: border-box;
    /* This is a good habit to get into */
}

.outer {
    display: flex;
    /* the main rule we're focusing on */
}

.flex-child {
    flex-grow: 1;
    /* tells the 2 children to fill as much space as they can equally */
}


/* for visual aid, not necessarily relevant to question */

#bigContainer {
    /* width: 20%; */
    width: 40%;
    margin-left: 0;
    margin-right: 0;
}

.div {
    padding: 5px;
    margin: 1px;
}

#div-r {
    width: 70%;
}

img {
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}