/* Normal nav css here */

@media (min-width:771px) {
    /* screen sizes 1024 to 1366 */
    #center-nav-main {
        padding-right: 13%;
    }
    #right-nav-main {
        position: absolute;
        right: 0%;
    }
    #center-nav-home {
        padding-right: 0%;
    }
    #center-home-nav a {
        font-size: 200%;
    }
    #right-nav-home {
        position: absolute;
        right: 0%;
    }
    #center-ul .center-nav-item {
        padding-left: 10%;
    }
    #right-ul {
        align-items: center;
    }
    #profileContainer {
        display: flex;
        padding-right: 8%;
    }
    #profileContainer #profile-li {
        padding-left: 15%;
    }
    #logout-li {
        /* change cursor */
        cursor: pointer;
    }
}

#navLogo {
    width: 30%;
    /* this shit is pissing me off */
}

.center-nav-item {
    width: 100%;
}

.center-nav-item a {
    white-space: nowrap;
}

#basic-navbar-nav {
    justify-content: center;
}

nav {
    height: 100%;
    background-color: var(--yellow);
}

#navContainer {
    max-width: 100%;
}

.navbar {
    width: 100vw;
}

.navbar-brand {
    /* width: 10%; */
    left: 0%;
}


/* profile nav css below */

#menuTop h2:hover {
    color: var(--purple);
}