#test {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

#testContainer {
    min-height: 100vh;
}

#door-parent {
    position: absolute;
    background-color: red;
    z-index: 10000;
    width: 112px;
    right: 8%;
    top: 25%;
    padding-right: 5%;
    height: 55%;
}

#questions-container {
    height: 30%;
    position: absolute;
    z-index: 1000;
    color: white;
}


/* #questions-container {
    left: 31.5%;
    top: 30%;
    width: 40%;
} */


/* #questions-container #choiceDiv {
    margin-top: 35%;
} */

#questions-container h6 {
    text-align: justify;
    text-align-last: center;
    font-size: 1.2vw;
}


/*  below styles are temporary */


/* 
#testContainer img {
    height: 100vh;
    object-fit: cover;
}

#testContainer #testCenterDiv {
    position: absolute;
    left: 28%;
    top: 45%;
    width: 40%;
    color: white;
}

#testContainer #testCenterDiv h6 {
    font-size: 80%;
}

#testContainer #choiceDiv {
    position: absolute;
    left: 0%;
    top: 75%;
    z-index: 1000;
    width: 100%;
    color: white;
    font-size: 50%;
} */


/* #footerTest {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
} */