#test {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

#testContainer {
    min-height: 100vh;
}

#testContainer img {
    width: 100%;
}

@media screen and (max-width:800px) {
    #door-parent {
        position: absolute;
        /* background-color: red; */
        z-index: 10000;
        width: 150px;
        left: 3%;
        top: 45%;
        padding-right: 5%;
        height: 90%;
    }
    #questions-container #choiceDiv {
        width: 100%;
        font-size: 1.8vw;
    }
    #start-div p {
        position: absolute;
        top: 68%;
        left: 28%;
        z-index: 1000;
        color: white;
        width: 40%;
        font-size: 1.5vw;
    }
    /* #start-div h2 {
        position: absolute;
        top: 42%;
        left: 28%;
        z-index: 1000;
        color: white;
        width: 40%;
    } */
}

@media screen and (min-width:1178px) {
    #door-parent {
        position: absolute;
        /* background-color: red; */
        z-index: 10000;
        width: 150px;
        left: 5%;
        top: 15%;
        padding-right: 5%;
        height: 75%;
    }
    #start-room-div p {
        position: absolute;
        top: 55%;
        left: 28%;
        z-index: 1000;
        color: white;
        width: 40%;
    }
    #start-room-div h2 {
        position: absolute;
        top: 42%;
        left: 28%;
        z-index: 1000;
        color: white;
        width: 40%;
    }
    /* #testCenterDiv h6 {
        position: absolute;
        left: 10%;
        top: 5%;
    } */
}

@media screen and (min-width:1178px) and (max-width:1252px) {
    #questions-container {
        height: 30%;
        position: absolute;
        z-index: 1000;
        color: white;
        /* left: 30%;
        top: 65%;
        width: 40%; */
    }
}

#questions-container {
    height: 30%;
    position: absolute;
    z-index: 1000;
    color: white;
    /* left: 30%;
    top: 65%;
    width: 40%; */
}

#questions-container #choiceDiv {
    margin-top: 5%;
}

#questions-container #choiceDiv {
    width: 100%;
}


/* 1397 x 716 */


/* 1178 x 775 */


/* my phone is 750 x 390 */


/* Carolas phone is 800 x 331 */


/* 800 x 361 */


/* 778 x 364 */


/* #questions-container {
    left: 27.5%;
    top: 52%;
    width: 40%;
} */

#questions-container h6 {
    font-size: 1.8vw;
}

#questions-container h6 {
    text-align: justify;
    text-align-last: center;
    /* font-size: 1.2vw; */
}


/*  below styles are temporary */


/* 
#testContainer img {
    height: 100vh;
    object-fit: cover;
}

#testContainer #testCenterDiv {
    position: absolute;
    left: 28%;
    top: 45%;
    width: 40%;
    color: white;
}

#testContainer #testCenterDiv h6 {
    font-size: 80%;
}

#testContainer #choiceDiv {
    position: absolute;
    left: 0%;
    top: 75%;
    z-index: 1000;
    width: 100%;
    color: white;
    font-size: 50%;
} */


/* #footerTest {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
} */